body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddd;
    .home{
        background-image: url('https://picsum.photos/1500/1500')
    }
  }
  header {
    background-color: black;
    color: #fff;
    text-align: center;
  }
  footer {
    background-color: black;
    color: #fff;
    text-align: center;
  }
  nav {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 5px;
  }
  form{
    #email{
        width:300px;
    }
    #Message{
        height: 100px;
        width: 300px;
    }

  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
 input[type=submit]{
    background-color: yellowgreen;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

 }
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: yellowgreen;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    }
    
    /* Dropdown button */
    .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    }
    
    /* Add a red background color to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: darkblue;
    }
    
    /* Dropdown content (hidden by default) */
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
    
    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
    background-color: darkred;
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
    display: block;
    }

.features{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.Contact{
    display: grid;
        grid-template-columns: repeat(3,1fr);
        img{
          height: 100px;
          width: 100px;
        }
    }

.map{
    display: flex;
    justify-content: center;
}
            